.container{
    display: flex;
    flex-direction: column;
    gap:10px;
}
textarea{
    width:200px;
    height:100px;
}

button{
    background-color: rgb(151, 86, 212);
    width:70px;
    height:25px;
    border-style: none;
    color: white;

}