/* -------------------------------------------------------------769px to 1024px Laptops & Desktops------------------------------ */

@media (min-width: 769px) and (max-width: 1024px) {

    /* ---------- GLOBAL ---------- */

    html,
    body {
        width: 100%;
        max-width: 100%;
        overflow-x: hidden;
    }

    * {
        box-sizing: border-box;
    }

    /* =========================================
       HERO
       ========================================= */
    .hero {
        position: relative;
        width: 100%;
        height: 60vh;
        overflow: hidden;
    }

    #hero-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

    }

    .tint {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    /* =========================================
       NAVBAR
       ========================================= */

    nav {
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);

        width: calc(100% - 30px);
        max-width: none;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo svg {
        width: 100px;
        height: auto;
    }

    .nav-flex {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .En-btn {
        width: 100px;
        height: 42px;
        padding: 0 5px;
        font-size: 16px;
        gap: 1px;
    }

    .En-btn svg {
        width: 15px;
        height: 15px;
    }

    .Sign-btn {
        width: 90px;
        height: 41px;
        padding: 0;
        font-size: 16px;
    }

    /* =========================================
       HERO CONTENT
       ========================================= */

    .content {
        position: absolute;

        width: calc(100% - 25px);

        /* Remove desktop positioning */
        left: 50%;
        right: auto;
        ;
        bottom: 1550px;

        transform: translate(-50%, -50%);

        color: white;
        text-align: center;
    }

    .title {
        font-size: 35px;
        line-height: 1.15;
        text-align: center;
    }

    .title p {
        margin: 0;
    }

    .sub-title {
        font-size: 18px;
        font-weight: 500;
        margin: 14px 0;
    }

    .desc {
        font-size: 16px;
        line-height: 1.4;
        margin: 20px 0;
    }

    /* =========================================
       EMAIL + GET STARTED
       ========================================= */

    .content-flex {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 12px;
    }

    .content-input {
        width: 100%;
        max-width: 250px;
        height: 50px;
        padding: 15px;
        font-size: 18px;
    }

    .content-btn {
        width: 160px;
        height: 48px;
        padding: 10px;
        font-size: 16px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* =========================================
       HORIZONTAL LINE
       ========================================= */

    .thick-line {

        width: 100%;
        height: 2px;
    }

    /* =========================================
       CREATE PROFILES SECTIONS
       ========================================= */

    .container {
        width: 100%;
        max-width: 100%;

        margin: 40px 0;
        padding: 0 20px;

        display: flex;
        flex-direction: column;

        gap: 30px;

        text-align: center;
    }

    .left,
    .right {
        width: 100%;
        flex: none;
    }

    .heading {
        font-size: 30px;
        line-height: 1.2;
    }

    .sub-heading {
        font-size: 18px;
        line-height: 1.5;
        margin-top: 12px;
    }

    .real-tv {
        width: 100%;
        max-width: 400px;
        margin: auto;
    }

    .tv {
        width: 100%;
        height: auto;
        display: block;
    }

    #vdo {
        width: 76%;
        height: 59%;
    }

    /* =========================================
       MORE REASONS
       ========================================= */

    .container2 {
        width: 100%;
        margin: 30px 0;
        padding: 0 20px;
    }

    #more-h1 {
        font-size: 22px;
        margin: 20px 0;
    }

    .card-container {
        width: 100%;

        display: flex;
        flex-direction: column;

        gap: 15px;
    }

    .card1,
    .card2,
    .card3,
    .card4 {
        width: 100%;
        min-height: 200px;
        padding: 20px;
        flex: none;
    }

    .card-title {
        font-size: 23px;
    }

    .sub-desc {
        font-size: 17px;
        line-height: 1.4;
    }

    .svg-img svg {
        right: 20px;
        bottom: 20px;
    }

    /* =========================================
       FAQ
       ========================================= */

    .faq-container {
        width: 100%;
        max-width: 750px;

        margin: 40px 10px;
        padding: 0 15px;
    }

    #faq-h3 {
        font-size: 18px;
        margin: 20px 0;
    }

    .faq-Que {
        width: 100%;

        padding: 20px 15px;
        margin-bottom: 7px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 10px;
    }

    .faq-Que h2 {
        font-size: 19px;
        line-height: 1.3;
    }

    .faq-Que svg {
        width: 22px;
        height: 22px;
        flex-shrink: 0;
    }

    /* =========================================
       LAST EMAIL SECTION
       ========================================= */

    .last-input-container {
        width: 100%;
        max-width: 770px;

        margin: 40px 0;

        padding: 0;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 20px;
    }

    .read {
        width: 100%;
        text-align: center;
    }

    .read h4 {
        font-size: 18px;
        line-height: 1.4;
    }

    .last-input-container .content-flex {
        width: 100%;
    }

    .last-input {
        width: 100%;
        max-width: 533px;
        height: 50px;
        padding: 15px;
    }


    /* =========================================
       PHONE NUMBER
       ========================================= */

    .callOn {
        width: 100%;
        margin-top: 80px;
        margin-left: 13px;
    }

    #call-num {
        font-size: 18px;
    }

    /* =========================================
       FOOTER LINKS
       ========================================= */

    .links-bottom-container {
        width: 100%;
        max-width: 100%;

        margin: 35px 0;

        padding: 0 10px;

        display: grid;
        grid-template-columns: 1fr 1fr;

        gap: 25px 15px;
    }

    .flex-1,
    .flex-2,
    .flex-3,
    .flex-4 {
        display: flex;
        flex-direction: column;
        gap: 15px;

        width: 100%;
    }

    .flex-1 a,
    .flex-2 a,
    .flex-3 a,
    .flex-4 a {
        font-size: 16px;
    }


    /* =========================================
       FOOTER LANGUAGE BUTTON
       ========================================= */

    .faq-container>.En-btn {
        width: 130px;
        height: 32px;
        font-size: 15px;
        margin-top: 60px;
        margin-left: 12px;
    }


    /* =========================================
       NETFLIX INDIA
       ========================================= */

    .Net-indi {
        margin-top: 60px;
        margin-left: 12px;
        font-size: 17px;
    }

    .copyright {
        margin-top: 40px;
        margin-left: 12px;
        font-size: 14px;
        line-height: 1.4;
    }




}