* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

.hero {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.tint{
    background-color: black;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.4) 50%,
        rgba(0, 0, 0, 0.8) 100%
    );
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
.content{
    top:0;
    position: absolute;
    color: white;
    width:500px;
   top:35%;
   bottom:35%;
   right:35%;
   left:35%;
transform: translate(-50,-50);}

nav{
    position: absolute;
   top:0;
   display:flex;
   justify-content: space-between;
   width:1300px;
   transform: translate(-50,-50);
   top:5%;
   left:10%;


}
.logo{
     color:red;
}
.nav-flex{
    display: flex;
    gap:10px;
}
.Sign-btn{
    height: 34px;
    padding:3px 17px;
    font-weight:bold;
    border:none;
    background-color: red;
    color:white;
    border-radius: 6px;
    font-size:14px;
}
.En-btn{
    height: 34px;
    width:120px;
    padding:3px 17px;
    font-weight:bold;
    border:1px solid grey;
    background-color:black;
    color:white;
    border-radius: 6px;
    font-size:14px;

}
