body{
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}
.hero{
    height:100vh;
    overflow: hidden;
  
}
#hero-img{

width:100%;
   transform: scale(0.7);

}