.grid-container{
    height: 100vh;
    display: grid;
    grid-template-areas:"sidebar header header"
  "sidebar stats-cards stats-cards"
  "sidebar main aside";
    grid-template-columns: 200px 2fr 1fr;
    grid-template-rows: minmax(70px, 80px) 1fr 1fr ;
    gap:10px;
}
.sidebar{
    /* grid-row:span 3; */
   grid-area: sidebar;
   
    background-color: rgb(161, 161, 168);
}
.header{
     /* grid-column:span 2; */
    grid-area:header;
    /* grid-template:; */
    background-color: rgb(161, 161, 168);
}
.stats-cards{
    display: grid; 
    grid-template-columns:repeat(4, 1fr);
    gap:10px;
    grid-area:stats-cards;
    background-color: rgb(161, 161, 168);
    
}
.card1,.card2,.card3,.card4{
   
    background-color: rgb(161, 161, 168);
    padding:20px;
    border: 2px solid black;
     display: flex;
  justify-content: center;
  align-items: center;
}
.card1 {
  grid-column: span 2;
}
.main{
    grid-area: "main";
    /* grid-template:; */
    background-color: rgb(161, 161, 168);
    overflow-y: auto;
}
.aside{
     /* grid-column:-2 /-1 ; */
    grid-area: "aside";
    /* grid-template:; */
    background-color: rgb(161, 161, 168);

}