
body{
    background-color: rgb(213, 181, 242);
    text-align: center;

}

h1{
    color: rgb(62, 8, 62);
}

button{
    border-radius:50px;
    border-style: none;
    font-size: larger;
    padding:2px;
    width:100px;
}