body {
    background-color: cornsilk;
}
.cardLinks {
    border: 1px solid black;
    width: 450px;
    height: 350px;
    background-color: rgb(250, 220, 149);
    font-size: xx-large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 10px auto;
    text-align: center;
    padding: 10px 20px;
}
#card1,
#card2,
#card3 {
    padding: 5px;
    border: 1px solid darksalmon;
    text-decoration: none;
    color: brown;
}
img {
    width: 300px;
    border-radius: 15px;
}
#line1 {
    font-size: xx-large;
    color: black;
    font-weight: bold;
}
.card1Div{
    margin: 25px auto;
    padding:25px;
    text-align: center;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 15px;
    width:max-content;
}
.card2Div{
       margin: 25px auto;
    padding:25px;
    text-align: center;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 15px;
    width:300px;
}
.grey{
    color: rgb(69, 68, 68);
    font-size: medium;
}
#bold{
    color: black;
    font-weight:bold ;
}
#text1{
    width:100%;
    height:30px;
    border-radius: 5px;
    border:1px solid grey;  
    margin-bottom: 20px;
}
#text1:hover{
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
#button1{
      width:100%;
    height:30px;
    border-radius: 5px;
    background-color: rgb(250, 148, 52);
    color: black;
    font-weight: 600;
}
#button1:hover{
    background-color: rgb(243, 179, 120);
}
#work{
    width:100%;
    height:30px;
    border-radius: 5px;
    background-color: rgb(244, 237, 231);
    color: black;
    font-weight: 600;
}
.arrow{
    margin-left:180px
}
#personal{
     width:100%;
    height:30px;
    border-radius: 5px;
    background-color: rgb(244, 237, 231);
    color: black;
    font-weight: 600;
}
.buttons-card2 button{
    margin:10px;   
}
